@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  background: none;
  outline: none;
  border: none;
}

body,
button,
input,
textarea {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
}

body {
  background-color: #000007;
  color: #ffff;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1.2em;
}

br {
  line-height: 0;
}

h2 {
  font-size: 3em;
}

ul {
  list-style: none;
}

a { 
  text-decoration: none;
  color: #000007;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: auto;
  height: auto;
}

/* header */

.header {
  width: 100%;
  z-index: 1000;
}

.nav {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.5em;
  align-items: center;
  font-weight: 700;
  color: #fff;
}

.nav__logo,
.nav__link {
  color: #fff;
  display: inline-flex;
}

.nav__logo-img {
  width: 170px;
}

.nav__link {
  display: inline-flex;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color .1s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  background: #ffffff;
  border-radius: 1px;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .1s linear;

  color: #ffffff;
  opacity: 1;
}

.nav__link:hover {
  color: #ffffff;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 0;
}

.nav__link.active {
  color: hsl(0, 0%, 100%);
}

.active__link {
  color: #ffffff;
  opacity: 1;
}

.active__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  background: #ffffff;
  border-radius: 1px;
  opacity: 1;

  position: absolute;
  top: 300%;
  left: 0;
  z-index: 1;

  transition: opacity .1s linear;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: .3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: none;
  row-gap: 3rem;
}

/* css */

.container {
  max-width: 1400px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

/* style */
.home {
  position: relative;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__data {
  text-align: end;
}

.home__title {
  color: #D53119;
}

.home__title-big {
  color: #ffff;
}

.home__subtitle {
  display: grid;
  margin-bottom: 1rem;
}

.home__btn {
  padding: .5rem 1rem;
  border-radius: 40px;
  font-weight: 700;
  color: #000007;
  background-color: #FDFEFF;
}

.company {
  display: inline-block;
}

.home__btns {
  display: inline-grid;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.home__title-big {
  font-size: 4em;
}

.home__images img {
  width: 1100px;
}

.triangle-1 {
  position: fixed;
  left: -200px;
  bottom: -50px;
}

.triangle-2 {
  position: fixed;
  left: -200px;
  bottom: -30px;
}

.triangle-3 {
  position: fixed;
  left: -200px;
  bottom: -10px;
}

.home__images {
  z-index: -1;
}

/* modal */

.modal__feedback {
  height: 100vh;
  width: 100vw;
  background: rgb(0 0 0 / 89%);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.feedback__data {
  display: grid;
  gap: .3rem;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.feedback__content {
  position: relative;
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #000007;
}

.feedback__close {
  cursor: pointer;
  width: 50px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.feedback__btn {
  display: block;
  margin: 0 auto;
  padding: .6rem 3.5rem;
  border-radius: 20px;
  font-weight: 700;
  background-color: #D53119;
  color: #fff;
}

.feedback__inpt {
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  border: 1px solid #000007;
}

.feedback__title, .feedback__subtitle {
  color: #000007;
  text-transform: none;
  font-size: 1em;
}

.feedback__desc {
  color: #000007;
  text-transform: none;
  font-size: .7em;
}

.feedback__title  {
  width: 85%;
}

.feedback__checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feedback__form {
  display: grid;
  gap: 1rem;
}

.feedback__link {
  color: #000007;
  text-decoration: revert;
}

/* media */

@media screen and (min-width: 386px) and (max-width: 454px) {
  .home__title {
    font-size: 2.5em;
  }
  h1 {
    line-height: 1em;
  }
}

@media screen and (min-width: 319px) and (max-width: 386px) {
  .home__title {
    font-size: 2em;
  }
}

@media screen and (min-width: 100px) and (max-width: 319px) {
  .home__title {
    font-size: 1em;
  }
}

@media screen and (min-width: 1000px) {
  .home__btns {
    display: inline-block;
    flex-direction: column;
  }
  .home__container {
    height: 70vh;
  }
  .nav__link {
    font-size: 2em;
  }
  .home__btn {
    padding: .5rem 2rem;
    font-size: 2em;
  }
  .nav__logo-img {
    width: 270px;
  }
  .home__images img {
    width: 1000px;
  }
  .home__subtitle {
    font-size: 2.5rem;
  }
  .triangle-1 {
    position: fixed;
    left: -37px;
    bottom: 0;
  }  
  .triangle-2 {
    position: fixed;
    left: -37px;
    bottom: 0;
  }  
  .triangle-3 {
    position: fixed;
    left: -37px;
    bottom: 0;
  }
  .company {
    display: none;
  }
  .nav__list {
    display: flex;
  }
  .nav {
    height: 12rem;
  }
}

@media screen and (min-height: 300px) and (max-height: 577px){
  .home__images img {
    width: 500px;
  }
  .triangle-1 {
    position: fixed;
    left: -110px;
    bottom: -30px;
  }  
  .triangle-2 {
    position: fixed;
    left: -110px;
    bottom: -30px;
  }  
  .triangle-3 {
    position: fixed;
    left: -110px;
    bottom: -30px;
  }
}

@media screen and (min-height: 577px) and (max-height: 700px){
  .home__images img {
    width: 750px;
  }
  .triangle-1 {
    position: fixed;
    left: -150px;
    bottom: -30px;
  }  
  .triangle-2 {
    position: fixed;
    left: -150px;
    bottom: -30px;
  }  
  .triangle-3 {
    position: fixed;
    left: -150px;
    bottom: -30px;
  }
}

/* @media screen and (min-height: 601px) and (max-height: 789px){
  .home__images img {
    width: 550px;
  }
  .triangle-1 {
    left: -70px;
    bottom: -40px;
  }  
  .triangle-2 {
    left: -70px;
    bottom: -30px;
  }  
  .triangle-3 {
    left: -70px;
    bottom: -20px;
  }
} */

/* @media screen and (min-height: 815px) and (max-height: 850px){
  .home__images img {
    width: 750px;
  }
  .triangle-1 {
    position: fixed;
    left: -150px;
    bottom: -60px;
  }  
  .triangle-2 {
    position: fixed;
    left: -157px;
    bottom: -40px;
  }  
  .triangle-3 {
    position: fixed;
    left: -165px;
    bottom: -20px;
  }
} */

@media screen and (min-height: 680px) and (max-height: 789px) {
  .home__images img {
    width: 820px;
  }
  .triangle-1 {
    position: fixed;
    left: -150px;
    bottom: -50px;
  }
  .triangle-2 {
    position: fixed;
    left: -150px;
    bottom: -30px;
  }
  
  .triangle-3 {
    position: fixed;
    left: -150px;
    bottom: -10px;
  }
}

@media screen and (min-height: 300px) and (max-height: 500px){
  .feedback__content {
    position: relative;
    padding: .3rem;
  }
  .feedback__inpt {
    padding: .2rem;
  }
  .home__images img {
    width: 600px;
  }
  .home__container {
    height: 60vh;
  }
  h1 {
    font-size: 2em;
  }
}

@media screen and (min-height: 500px) and (max-height: 620px){
  .feedback__content {
    position: relative;
    padding: .3rem;
  }
  .feedback__inpt {
    padding: .2rem;
  }
}

@media screen and (min-width: 100px) and (max-width: 232px){
  .home__title {
    font-size: 1em;
  }
  .home__btn {
    padding: .3rem .4rem;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .home__title {
    font-size: 4em;
  }
  .home__images img {
    width: 1000px;
  }
}

.modal__error {
  display: flex;
  font-size: 1em;
  color: #D53119;
}

.error {
  background-color: #D53119;
  color: #fff;
}

@media screen and (min-width: 1000px) and (min-height: 878px) {
  .home__title {
    font-size: 6em;
  }
  .home__images img {
    width: 1000px;
  }
}

@media screen and (min-height: 900px) {
  .home__container {
    height: 80vh;
  }
}

@media screen and (min-height: 800px) and (min-width: 1500px) {
  .home__images img {
    width: 1200px;
  }
}

.hide {
  display: none;
}

.snow {
  display: flex;
}

.white {
  background-color: #FDFEFF;
}